@using CS.Data.DataContext

<select id="@ViewBag.id" class="form-control" @(ViewBag.isDisable == true ? "Disabled='Disabled'" : "")>
    <option value="0" disabled="" @(ViewBag.idSelected == 0 ? "selected='selected'" : "")>Chọn đại lý</option>
    @if (Model != null)
    {
        var model = (List<Branch>)Model;



        foreach (var item in model)
        {
            <option value="@(item.Id)" @(ViewBag.idSelected == item.Id ? "selected='selected'" : "")>@(item.Name)</option>
        }
        if (ViewBag.hasAll)
        {
            <option value="-1" @(ViewBag.idSelected == -1 ? "selected='selected'" : "")>Tất cả</option>
        }
    }
</select>



