@using CS.Data.DataContext

<select id="@ViewBag.id" class="form-control" @(ViewBag.isDisable == true ? "Disabled='Disabled'" : "")>
    @if (Model != null)
    {
        var model = (List<User>)Model;
        foreach (var item in model)
        {
            <option value="@(item.Id)" @(ViewBag.idSelected == item.Id ? "selected='selected'" : "")>@(item.UserName)</option>
        }
        if (ViewBag.hasAll)
        {
            <option value="-1" @(ViewBag.idSelected == -1 ? "selected='selected'" : "")>Tất cả</option>
        }
        <option value="0" @(ViewBag.idSelected == 0 ? "selected='selected'" : "")>Không chọn</option>
    }
</select>



