@using CS.Common.Const

<div class="box box-solid box-primary" style="padding-top: 10px">
    <div class="box-body">
        <div class="margin">
            <div class="btn-group">
                @*<a id="btn-add-menu" class="btn btn-dropbox"><i class="fa fa-plus" style="margin-right: 5px;"></i>Thêm mới</a>*@
                <button id="btn-add-menu" class="btn btn-success " type="button"><i class="fa fa-pencil"></i>&nbsp;&nbsp;<span class="bold">Thêm mới</span></button>
            </div>
        </div>
    </div>
</div>
<table id="tbl-content-lst-menu" class="table table-bordered table-hover" style="width: 100% !important">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên menu</th>
            <th>IsRead</th>
            <th>IsCreate</th>
            <th>IsUpdate</th>
            <th>IsDelete</th>
            <th>IsExport</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
</table>
<script type="text/javascript">

    $(function() {
        BindButtonAddMenuClick();
    });
    function BindButtonAddMenuClick() {
        $("#btn-add-menu").click(function() {
            $(this).colorbox({
                iframe: true,
                innerWidth: "1000px",
                innerHeight: "600px",
                href: "/Role/AddMenuIntoRole?Id=@ViewBag.id"
            });
        });
    }

    $(document).ready(function() {
        LoadAllMenuUsingRole();
    });


    function LoadAllMenuUsingRole() {
        var tblContent = $('#tbl-content-lst-menu').dataTable({
            ajax: {
                url: "/Role/_ListMenuInRole?Id=" + @ViewBag.id,
                type: 'POST'

            },
            processing: true,
            serverSide: true,
            bSort: false,
            columns: [
                {
                    data: 'IdPer',
                    class: 'text-center'
                },
                {
                    data: 'MenuName',
                    class: 'text-center'
                },
                {
                    data: 'IsRead',
                    mRender: function(data) {
                        if (data == "True") {
                            data = '<input type="checkbox"  class="icon-check-menu" id="isread" checked="checked">';
                        } else {
                            data = '<input type="checkbox"  class="icon-check-menu" id="isread">';
                        }
                        return data;
                    },
                    class: 'text-center'
                },
                {
                    data: 'IsCreate',
                    mRender: function(data) {
                        if (data == "True") {
                            data = '<input type="checkbox"  class="icon-check-menu" id="iscreate" checked="checked">';
                        } else {
                            data = '<input type="checkbox"  class="icon-check-menu" id="iscreate">';
                        }
                        return data;
                    },
                    class: 'text-center'
                },
                {
                    data: 'IsUpdate',
                    mRender: function(data) {
                        if (data == "True") {
                            data = '<input type="checkbox"  class="icon-check-menu" id="isupdate" checked="checked">';
                        } else {
                            data = '<input type="checkbox"  class="icon-check-menu" id="isupdate">';
                        }
                        return data;
                    },
                    class: 'text-center'
                },
                {
                    data: 'IsDelete',
                    mRender: function(data) {
                        if (data == "True") {
                            data = '<input type="checkbox"  class="icon-check-menu" id="isdelete" checked="checked">';
                        } else {
                            data = '<input type="checkbox"  class="icon-check-menu" id="isdelete">';
                        }
                        return data;
                    },
                    class: 'text-center'
                },
                {
                    data: 'IsExport',
                    mRender: function(data) {
                        if (data == "True") {
                            data = '<input type="checkbox"  class="icon-check-menu" id="isexport" checked="checked">';
                        } else {
                            data = '<input type="checkbox"  class="icon-check-menu" id="isexport">';
                        }
                        return data;
                    },
                    class: 'text-center'
                },
                {
                    data: 'IdPer',
                    mRender: function(data) {
                        //return '<button type="button" title="Xóa menu" class="fa  fa-trash-o icon-index">';
                        return ' <button class="btn btn-danger  dim  icon-index hint--top" aria-label="Xóa menu" type="button"><i class="fa fa-trash-o"></i></button>';
                    },
                    class: 'text-center'
                }
            ],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 'no-sort'
                }
            ],
            "order": [[1, 'asc']],
            responsive: true,
            bLengthChange: false,
            initComplete: function(settings, json) {

            },
            fnCreatedRow: function(row, data, index) {
                $(row).css("background-color", "#eae7d0");
            },
            language: {
                lengthMenu: "Độ dài",
                zeroRecords: "không có dữ liệu",
                info: "Tổng cộng _TOTAL_ bản ghi",
                emptyTable: "Không có bản ghi",
                infoEmpty: "Không có bản ghi",
                loadingRecords: "Đang tải",
                search: "Tìm kiếm",
                searchPlaceholder: "Tìm kiếm",
                paginate: {
                    first: "Trang đầu",
                    last: "Trang cuối",
                    next: "Tiếp",
                    previous: "Quay lại"
                }
            }
        });
        tblContent.on('click',
            '.btn-danger',
            function() {
                var closestRow = $(this).closest('tr');
                var data = tblContent.api().row(closestRow).data();
                var id = data.IdPer;
                BootstrapDialog.confirm({
                    title: 'CHÚ Ý',
                    message: '@SystemMessageConst.systemmessage.ConfirmAfterDelete',
                    type: BootstrapDialog.TYPE_WARNING,
                    closable: true,
                    draggable: true,
                    btnCancelLabel: 'CANCEL',
                    btnOKLabel: 'OK',
                    btnOKClass: 'btn-warning',
                    callback: function(result) {
                        if (result) {
                            var dataJson = {
                                id: id
                            }
                            CallAjax("GET", '@Url.Action("DeleteMenuInRole")', dataJson, DeleteCallBack);
                        }
                    }
                });
            });

        tblContent.on('click',
            'input:checkbox',
            function() {
                var closestRow = $(this).closest('tr');
                var data = tblContent.api().row(closestRow).data();
                var type = $(this).change().context.id;
                var gt = $(this).change().is(':checked');

                var dataJson = {
                    id: data.IdPer,
                    type: type,
                    gt: gt
                }
                CallAjax("GET", '@Url.Action("UpdateSelectInMenu")', dataJson, SelectCallBack);
            });
    }

    function SelectCallBack(data) {
        if (data.result.IsSuccess == false && data.result.Message === "Không có quyền cập nhật thông tin") {
            BootstrapDialog.alert(
                {
                    title: 'THÔNG BÁO',
                    type: BootstrapDialog.TYPE_SUCCESS,
                    message: data.result.Message,
                    callback: function() {
                        $('#tbl-content-lst-menu').dataTable().api().ajax.url('/Role/_ListMenuInRole?Id=' + @ViewBag.id)
                            .load();
                    }
                }
            );
        }

    }

    function DeleteCallBack(data) {
        BootstrapDialog.alert(
            {
                title: 'THÔNG BÁO',
                type: BootstrapDialog.TYPE_SUCCESS,
                message: data.result.Message,
                callback: function() {
                    $('#tbl-content-lst-menu').dataTable().api().ajax.url('/Role/_ListMenuInRole?Id=' + @ViewBag.id).load();
                }
            }
        );
        }
</script>



